200   323.15   /   reference pressure and temperature [bar, K]
WAT   OIL      /   names of phases  
18    75       /   molar weights [g/mol]
1000  875      /   density at reference conditions [kg/m3]
1E-4  1E-3     /   isothermal compressibility [1/bar]
0     0        /   coefficients of thermal expansion [1/K]
4.2   3.0      /   specific heat capacity [kJ/kg/K]
0.75  1.5      /   viscosity [cP] 

